body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgb(red, green, blue);
}

.register{
    background-color: aliceblue ;
    padding: 50px 70px;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 4px 6px rgba(0, 0, 0, 0.1);


    width: 300px;
}

.register input[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 20px;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
   
    
  }