/* div {
    background-image: url('https://plus.unsplash.com/premium_photo-1701628122752-419b7b09dc05?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    height: 100vh;

} */
 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Playwrite RO", cursive;   

 }
.box
{
    
    width: 1000px;
    height: 300px;
    border: 5px solid red;
    /* all side */
    padding: 20px;

    /* padding: 10px 20px; */
    margin: 100px;


}