.container{
    display: flex;
    gap: 10px;

}

.heading{
    border: 2px solid black;
    background-color: yellow;
    padding: 10px;
}

/* tablet view */

@media screen and (max-width:768px)
 {
    .container{
        /* display: flex; */
        /* flex-direction: column; */
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width:425px)
 {
    .container{
        /* display: flex; */
        /* flex-direction: column; */
        display: grid;
        grid-template-columns: 1fr;
    }
    
}