body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  .container {
    max-width: 1000px;
    margin: auto;
    padding: 20px; 
  }
      
  .center {
    text-align: center;
  }
  
  header {
    background-color: azure;
    padding: 50px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 15px;
  }
  


  
  section {
    background-color: azure;
    padding: 30px;
    margin: 20px;
    border-radius: 8px;
   
  }
  
  .container
  {
    background-image: url('https://plus.unsplash.com/premium_photo-1701628122752-419b7b09dc05?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:70vh; 
    border-radius: 20px;
    border-top: 5px dashed blue;
    border-left: 5px dotted green;
    border-bottom: 5px double orange;
    border-radius: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 40px;
}

.home div nav ul li a{
  list-style: none;
  text-decoration: none;
}

  
 
  